@import "_variables";

input[type="text"],[type="search"] {
    
    &:focus, &:focus-visible {
        box-shadow: none;
        outline: 0;
        border: 1px solid $light;
    }

    &::placeholder {
        color: $light-grey;
    }

    &:hover {
        color: $text-color;
    }
}
